{
    "presets": [
        [ "es2015", { "modules": false } ]
    ],
    "plugins": [
        [ "transform-flow-strip-types", { "loose": true } ],
        [ "transform-es3-property-literals", { "loose": true } ],
        [ "transform-es3-member-expression-literals", { "loose": true } ],
        [ "transform-es2015-for-of", { "loose": true } ]
    ]
}
